/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}



/* Header Styles */
.weather-header {
    background-color: #4d48da;
    color: #fff;
    text-align: center;
    height: 50px;
}


/* Form Styles */
#form-heading {
    margin-bottom: 10px;
}

.weather-search {
   
    margin-right: 10px;
    padding: 20px;
    border: 10px solid #ccc;
}

.search-button {
    background-color: #4576b1;
    color: #fff;
    border-radius: 25px;
    width: 5cm;
    
    cursor: pointer;
}



.list-group-item {
    padding: 9px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    margin-bottom: 5px;
    width: 5cm;
    background-color: #85878e;
}



/* Style for each forecast card */
.forecast-card {
    width: calc(20% - 20px); /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    padding: 10px;
    background-color: #383e55;
    border-radius: 5px;
    color: #ffffff;
}



/* Style for the search history */
#history {
    display: flex;
    flex-direction: column; /* Display items vertically */
    padding-right: 900px; /* Add some padding to the right */
}


/* Style for the forecast section */
#forecast {
    display: flex;
    flex-wrap: wrap; /* Allow forecast cards to wrap */
}

/* Style for forecast cards */
.forecast-card {
    width: calc(25% - 100px); /* Adjust width to fit four cards per row */
    margin-right: 10px; /* Add some space between forecast cards */
    margin-bottom: 10px; /* Add some space between rows */
}
